.active-btn {
    /* padding: 24px 48px; */
    border: none;
    border-radius: 50px;
    font-size: 16px;
    letter-spacing: 0.6px;
    color: var(--bg-hero);
    cursor: pointer;
}

.active-btn:is(:hover, :focus-visible) {
    background-color: rgb(0, 125, 251);
}