.ListEventMain {
    display: flex;
    align-items: center;
    height: 65vh;
    background: url("/Hero.jpg") no-repeat center;
    background-size: cover;

    /* background-color: #e76f51; */
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%; 
    padding: 32px 0;
    gap: 24px;
    background-color: rgba(22, 26, 32, 0.6);
}

.ListEventMain .main-headng {
    font-size: var(--font-medium);
    color: var(--bg-card);
}

.main-text {
    width: 80vw;
    color: var(--bg-hero);
}

.dots {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--bg-card);
}



/* Responsive style */

@media only screen and (min-width:768px) {
    
    
  
  }
  
  
  @media only screen and (min-width:992px) {
    
    .ListEventMain .main-headng {
        font-size: var(--font-large);
    }

  }
  
  @media only screen and (min-width:1200px) {
    
    
    
  }