.navbar {
    position: relative;
    background-color: var(--bg-card);
    padding: 12px 0;
    z-index: 100;
    border-bottom: 0.3px solid var(--text-extra-light);
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.navbar .logo {
    width: fit-content;
    margin: 0 auto;
}

.navbar .logo img {
    width: auto;
}

.nav-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-lists li {
    position: relative;
    color: var(--text-normal);
    font-weight: 500;
}

.nav-lists .list::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--text-normal);
    transition: 0.4s linear;
}

.nav-lists .list:is(:hover, :focus-visible)::after {
    width: 100%;
}



/* Responsive Styles */

@media only screen and (min-width:540px) {
    
    .navbar {
        padding: 24px 0;
    }

    .inner-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .logo {
        margin: 0;
    }

    .nav-lists {
        display: flex;
        flex-direction: row;
        gap: 36px;
    }
    
}