@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-card: #e9c46a;
  --bg-background: rgb(227, 231, 230);
  --bg-hero: rgb(227, 231, 230);

  --text-normal: rgb(22, 26, 32);
  --text-light: rgb(22, 26, 32, 0.9);
  --text-extra-light: rgba(22, 26, 32, 0.6);

  --font-large: 64px;
  --font-medium: 42px;
  --font-small: 32px;
  --font-small-e: 24px;
  --font-extra-small: 16px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}
  
/* body::-webkit-scrollbar {
  display: none;
} */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--bg-background);
}

p, li, a {
  color: var(--text-light);
  font-size: var(--font-extra-small);
  letter-spacing: 0.5px;
  line-height: 22px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


.container {
  width: 100%;
}

.inner-container {
  width: 90%;
  margin: 0 auto;
}

/* Responsive style */

@media only screen and (min-width:540px) {
    
  .container {
    width: 100%;
  }
  
  .inner-container {
    width: 90%;
    margin: 0 auto;
  }
  
}


@media only screen and (min-width:768px) {
  
  .inner-container {
    width: 90%;
  }

}


@media only screen and (min-width:992px) {
  
  .inner-container {
    width: 90%;
  }
  
}

@media only screen and (min-width:1200px) {
  
  .container {
    width: 100%;
  }
  
  .inner-container {
    width: 80%;
  }
  
}

@media only screen and (min-width:1400px) {

  .container {
    max-width: 1920px;
  }
  
  .inner-container {
  }

}